* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.nav a{  
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    font-size: 20px;
    margin-right: 30px;
    margin-top: 5px;
    float: right ;
    font-family:sans-serif }

.nav{
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    }



.nav a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0); 
}


body {
    background-color: rgba(255, 255, 255, 0.479);
  
}   


.test3 h1 {
    background-color: black;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-right: 1%;
}

p{
    color: rgb(255, 240, 240);
    padding: 20px; 
    padding-top: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}



.test4 {
     background-color: black;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-right: 1%;
    font-size: 15px;
}

.test5 {
    background-color: rgb(0, 0, 0);
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-right: 1%;
}

.direction {
    color: white;
    background-color: rgb(87, 87, 87);
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-right: 1%;
    margin-left: 20%;
    margin-right: 20%;
}

.direction h2 {
    font-size: 20px;
  font-weight: lighter;
}



    .container {
        margin-left: 20%;
        margin-right: 20%;
        padding-left: 1%;
        padding-bottom: 1%;
        padding-top: 1%;
        padding-right: 1%;
        background-color: rgba(189, 189, 189, 0.548);
        font-size: 18px;
    }

    .container p1 {
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .file label {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .file input {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    
}

    .container1 { 
        margin-left: 20%;
        margin-right: 20%;
        padding-left: 1%;
        padding-bottom: 1%;
        padding-top: 1%;
        padding-right: 1%;
        background-color: rgba(189, 189, 189, 0.548);
       
    }

    .container1 input {
        width: 95%;
        padding: 5px;
       
   
    }
    
    .container label {
        font-size:  18px;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    .container input  {

        font-size: 23px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .container checkbox{
        size: 11px;
    }

    .button{
        text-align: center;
        color: rgb(255, 255, 255);
        margin-left: 45%;
        margin-right: 45%;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 18px;
    }
    
    h5{
        color: rgb(0, 0, 0);
        padding: 20px; 
        padding-top: 20px;
        font-size: 15px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
    }

.file {
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-right: 1%;
    background-color: rgba(189, 189, 189, 0.548);
}

.file label {
    font-weight: bold;
}

.question h2 {
    color: white;
    background-color: rgb(87, 87, 87);
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-right: 1%;
    margin-left: 20%;
    margin-right: 20%;
}

.txt {
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-right: 1%;
    background-color: rgba(189, 189, 189, 0.548);
    font-size: 18px;
}
.txt textarea {
    padding-left: 3%;
    padding-bottom: 1%;
    padding-top: 2%;
    padding-right: 1%;
    margin-left: 1%;
    margin-right:1%;
    color: black;
    background-color:rgba(255, 255, 255, 0.548);
    width: 98%;
}

.button a {
        color: rgb(255, 255, 255);
        background-color: black;
        padding-left: 25%;
        padding-right: 25%;
        padding-top: 9px;
        padding-bottom: 9px;
        font-size: 20px;
        border-radius: 9px;
       
    }


     
    .hr2 hr{
        background-color: black;
        width: 100%;
        padding: 20px;
        
    }
